.first-section,
.first-section div,
.first-section__content,
.btn,
section,
.ui-text__h-1sect,
.ui-text__p-1sect,
ul,
img
  // border: solid 1px red

.first-section
  background-color: #D6C6F5
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  gap: 1.25rem
  padding-top: 0.625rem
  padding-bottom: 2rem

  &__content
    display: flex
    flex-direction: column
    align-items: center
    gap: 2.5rem

  &__content-header,
  &__content-list
    margin: 0

  &__content-list
    padding-inline: 2.5rem 0

  &__photo-cont
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end

  &__photo-img
    width: 65%
    min-width: 10.4375rem
    min-height: 10.4375rem
    max-width: 31.25rem
    max-height: 31.25rem
    display: block

@media screen and (min-width: 700px)
  .first-section
    display: flex
    flex-direction: row
    align-items: center
    padding-left: 150px
    width: 100%
    gap: 200px
    padding-top: 0
    padding-bottom: 0

    &__content
      display: flex
      flex-direction: column
      align-items: flex-start
      flex-wrap: nowrap
      white-space: nowrap
      gap: 40px

    &__content-list
      list-style-position: inside
      padding-inline: 0

    &__photo-img
      width: 100%
      min-width: 167px
      min-height: 167px
      max-width: 750px
      max-height: 800px
      display: block
