h1
   text-align: center


.checkmark-h2-box 
  display: flex
  justify-content: center
  align-items: flex-end


.second-section-img
  width: 30px
  height: 30px
  padding: 15px

.second-section-conteiner-content1-text 
  display: flex



    