h1
   text-align: center


.checkmark-h2-box 
  display: flex
  justify-content: flex-start
  align-items: flex-start
  
.second-section-img
  padding: 15px

.second-section-conteiner-content-text 
  display: flex
  text-align: justify
  padding-right: 1em
  padding-left: 3.5em 



    