h1
  text-align: center

.checkmark-h2-box 
  display: flex
  justify-content: flex-start
  align-items: flex-start
  gap: 0.7rem
  padding-left: 0.8em 

.second-section-img
  width: 3rem

.ui-text__h-2sect
  margin: 0

.second-section-conteiner-content-text 
  display: flex
  text-align: justify
  padding-right: 3.5em
  padding-left: 4.5em 
  margin-block-start: 0

p.ui-text__p-2sect
  margin-top: 0

@media screen and (min-width: 700px)
  .second-section-img
    width: 60px
    height: 60px

  .second-section-conteiner-content-text 
    padding-left: 10%
    padding-right: 10%
        
      







    