
.fifth-section
    display: flex
    flex-direction: column
    width: 100%

.ui-text__h1
    text-align: center

.fifth-section_left
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

.photo-block
    max-width: 24.375rem

.fifth-section-img
    width: 100%
    padding-inline: 1.25rem

.fifth-section_right
    display: flex
    flex-direction: column
    padding-right: 1.25rem
    padding-top: 1.25rem

.fifth-section-block
    display: grid
    grid-template-columns: 1fr 3fr

.fifth-section-icons
    grid-column: 1/2
    width: 6.25rem

.fifth-section-text
    grid-column: 2/3

@media screen and (min-width: 700px)
    .fifth-section
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 147px 1fr

    .ui-text__h1
        grid-row: 1/2
        grid-column: 1/3
        justify-content: flex-start

    .fifth-section_left
        grid-row: 2/3
        grid-column: 1/2
        align-items: flex-end

    .photo-block
        max-width: 560px
        margin-bottom: 0

    .fifth-section-img
        padding-inline: 0

    .fifth-section_right
        grid-row: 2/3
        grid-column: 2/3
        align-items: flex-start
        justify-content: center
        padding-right: 300px
        padding-top: 0
        row-gap: 30px

    .fifth-section-icons
        width: 80px
        justify-self: center
