.fifth-section
    display: flex
    flex-direction: column

.ui-text__h1
    text-align: center

.fifth-section-img
    max-width: 100%


.fifth-section-block
    display: grid  
    grid-template-columns: 1fr 2fr

.fifth-section-icons
    grid-column: 1/2
    grid-row: 1/2
    width: 100px

.fifth-section-text
    grid-column: 2/3
    grid-row: 1/2
