.footer
    background-color: #9a76a5
    padding: 3rem 2rem

    &__text
        padding-top: 1rem
        padding-bottom: 3rem

    &__social-link
        width: 1.875rem
        height: 1.875rem

@media screen and (min-width: 700px)
    .footer
        background-color: #9a76a5
        padding: 96px 112px
        display: flex
        flex-direction: column

        &__text
            padding-top: 16px
            padding-bottom: 48px
            width: 40%

        &__social-link
            width: 30px
            height: 30px
