.header
    position: relative
    background: #d6c6f5
    height: 190px

    &_nav, &_social
        display: none

    &_logo
        height: auto
        display: block
        max-width: 300px !important
        padding: 20px

.nav-desktop
    text-decoration: none

@media screen and (min-width: 700px)
    .header
        display: flex
        justify-content: space-between
        height: 100px

        &_nav, &_social
            display: inline-block
            padding: 40px

        &_logo
            padding: 0
            margin-left: 20px
            max-height: 80px

    .nav-desktop_item,
    .social-desktop_item
        text-decoration: none
        color: black

        &:hover
            text-decoration: underline

        &:visited
            color: gray
