.btn {
  color: white;
  background-color: #6584f3;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  line-height: 1.55;
}

.ui-btn__1sect {
  padding: 15px 20px 15px 20px;
  font-size: 14px;
}

.ui-btn__4sect {
  padding: 15px 60px 15px 60px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.ui-text__h1 {
  font-size: 2.125rem;
  font-weight: 500;
  color: rgb(83, 69, 92);
  line-height: 1.23;
}

.ui-text__menu,
.ui-text__numbers {
  font-weight: 400;
  color: #53455c;
  text-decoration: none;
}

.ui-text__menu {
  font-size: 1.25rem;
}

.ui-text__numbers {
  font-size: 1.875rem;
}

.ui-text__p-2sect,
.ui-text__p-4sect,
.ui-text__p-5sect,
.ui-text__p-6sect {
  font-weight: 300;
  color: black;
}

.ui-text__p-2sect {
  font-size: 1rem;
  line-height: 1.55;
}

.ui-text__p-4sect {
  font-size: 1.25rem;
}

.ui-text__p-5sect,
.ui-text__p-6sect {
  font-size: 0.875rem;
  line-height: 1.55;
}

.ui-text__p-footer,
.ui-text__p-footer-contacts,
.ui-text__p-footer-restrict {
  font-weight: 300;
  line-height: 1.5;
}

.ui-text__p-footer,
.ui-text__p-footer-contacts {
  font-size: 1.25rem;
}

.ui-text__p-footer-restrict {
  font-size: 1rem;
}

.ui-text__p-footer-contacts,
.ui-text__p-footer-restrict {
  opacity: 60%;
}

.ui-text__h-1sect,
.ui-text__p-1sect {
  font-weight: 600;
  color: white;
}

.ui-text__h-1sect {
  font-size: 1.75rem;
}

.ui-text__p-1sect {
  font-size: 1rem;
}

.ui-text__h-2sect,
.ui-text__h-5sect {
  font-weight: 600;
  color: rgb(83, 69, 92);
  line-height: 1.35;
}

.ui-text__h-2sect {
  font-size: 1.125rem;
}

.ui-text__h-5sect {
  font-size: 1.375rem;
}

.ui-text__review-name {
  font-size: 0.875rem;
  font-weight: 600;
  color: black;
  line-height: 1.35;
}

.ui-text__h-footer-contacts {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.23;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .container {
    display: grid;
    grid-template-rows: 5% 1fr 20%;
  }
  .header {
    grid-row: 1/2;
  }
  .main {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(7, 0.1fr);
  }
  .footer {
    grid-row: 3/4;
  }
  .first-section {
    grid-row: 1/2;
  }
  .second-section {
    grid-row: 2/3;
  }
  .third-section {
    grid-row: 3/4;
  }
  .fourth-section {
    grid-row: 4/5;
  }
  .fifth-section {
    grid-row: 5/6;
  }
  .sixth-section {
    grid-row: 6/7;
  }
  .seventh-section {
    grid-row: 7/8;
  }
  .eighth-section {
    grid-row: 8/9;
  }
  .ninth-section {
    grid-row: 9/10;
  }
}
.header {
  position: relative;
  background: #d6c6f5;
  height: 190px;
}
.header_nav, .header_social {
  display: none;
}
.header_logo {
  height: auto;
  display: block;
  max-width: 300px !important;
  padding: 20px;
}

@media screen and (min-width: 700px) {
  .header {
    display: flex;
    justify-content: space-between;
    height: 100px;
  }
  .header_nav, .header_social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }
  .header_nav {
    width: 1092px;
    margin-top: 10px;
  }
  .header_social {
    width: 210px;
  }
  .header_logo {
    padding: 0;
    margin-left: 40px;
    margin-top: 13px;
    width: 110px;
  }
  .img_logo {
    max-height: 80px;
  }
  .img-social {
    width: 30px;
  }
  .nav-desktop_item,
  .social-desktop_item {
    text-decoration: none;
  }
  .nav-desktop_item:hover,
  .social-desktop_item:hover {
    text-decoration: underline;
  }
  .nav-desktop_item:visited,
  .social-desktop_item:visited {
    color: gray;
  }
}
.first-section {
  background-color: #D6C6F5;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.fourth-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.fourth__button {
  width: 23.873125rem;
}

.stage {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.stage__consultation, .stage__goals, .stage__posture, .stage__start {
  display: flex;
  width: 24.375rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  border-radius: 50%;
  border: 0.625rem solid #d6c6f5;
  margin-top: 1rem;
}

.arrow {
  position: relative;
  top: 0;
  width: 5.375rem;
  height: 0.2rem;
  background-color: #000000;
  left: 0;
  display: block;
}
.arrow::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.2rem;
  top: -0.11rem;
  right: -0.28rem;
  background-color: #000000;
  transform: rotate(45deg);
}
.arrow::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.2rem;
  top: 0.11rem;
  right: -0.28rem;
  background-color: #000000;
  transform: rotate(-45deg);
}
.arrow {
  transform: rotate(90deg);
}

@media screen and (min-width: 700px) {
  .fourth-section {
    gap: 4rem;
  }
  .stage {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .stage__consultation, .stage__goals, .stage__posture, .stage__start {
    width: 13.75rem;
  }
  .arrow {
    transform: rotate(0deg);
    position: relative;
    top: 0;
    width: 16.4375rem;
    height: 0.2rem;
    background-color: #000000;
    left: 0;
  }
}/*# sourceMappingURL=index.css.map */